
:root {
    /* --bs-deepgrey : #272932; */
    /* --blue : #59C3C3;
    --magenta : #BA2C73;
    --lightorange : #FCD0A1;
    --palebeige : #F2D1C9;
    --othergreen : #17D1AD;
    --palegreen : #5DD193; */
    /* --otherblue : #17B8D1; */
    --lightblack :  #212529;
    --paleblue : #B8CBD0;
    --vanilla : #EEE6D8;
    --green : #18D26E;
    --blue2 : #137C8B;
    --green2 : #18534F;
}

/* ------------ */
/* --- BODY --- */
/* ------------ */

html {
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body.theme-1 {
    --color-bg : var(--lightblack);
    --color-txt : white;
    --color-highlights : var(--green);
}

body.theme-2 {
    --color-bg : var(--paleblue);
    --color-txt : var(--lightblack);
    --color-highlights : var(--blue2);
}

body.theme-3 {
    --color-bg : var(--vanilla);
    --color-txt : var(--lightblack);
    --color-highlights : var(--green2);
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Montserrat Alternates', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-txt);
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    position: relative; /* Pour positionner le pseudo-élément */
}

body.theme-1 main::before {
    background: url(/public/assets/img/bgblackwhite.webp) no-repeat center;
    opacity: 0.4;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-attachment: fixed; /* A tester */
    z-index: -1; /* Pour s'assurer que le pseudo-élément est en arrière-plan */
}

body.theme-2 main::before, body.theme-3 main::before {
    background: url(/public/assets/img/background.webp) no-repeat center;
    opacity: 100;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-attachment: fixed; /* A tester */
    z-index: -1; /* Pour s'assurer que le pseudo-élément est en arrière-plan */
}

/* -------------- */
/* --- NAVBAR --- */
/* -------------- */

.navbar a, .navbar h1 {
    font-size: 1rem;
    color: var(--color-txt);
}

@media (min-width: 1495px) {
    .navbar a {
        font-size: 1.5rem;
    }
}

.nav-item {
    border-radius: 10%;
}

.nav-item :hover , .nav-item .nav-link.active{
    color: var(--color-highlights);
    font-weight:600;
    border-top: 2.5px solid var(--color-highlights);
}

.navbar-toggler {
    background-color: var(--color-highlights);
    color: var(--color-txt);
}

/* ---------------- */
/* --- SECTIONS --- */
/* ---------------- */

#home {
    background: none;
}

.section {
    background-color: var(--color-bg);
    color: var(--color-txt);
}

h1, h2 {
    text-align: center;
}

.separator {
    border-top: 2.5px solid var(--color-highlights);
    width: 25%;
    margin: auto;
}

.separator2 {
    border-top: 2.5px solid var(--color-highlights);
    width: 10%;
    margin: auto;
}

.bi-chevron-right {
    color: var(--color-highlights);
}

.bi-check2-circle {
    color: var(--color-highlights);
    padding-left: 0px;
    padding-right: 15px;
}


/* ------------ */
/* --- HOME --- */
/* ------------ */

.welcome {
    font-size: 6rem;
    color: var(--color-txt);
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    animation: showup 20s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:0.5;}
    50% {opacity: 0.7;}
    60% {opacity: 0.7;}
    80% {opacity:0.5;}
    100% {opacity:0;}
}

@media (max-width: 576px) {
    .welcome {
        font-size: 3rem;
    }
}

/* ------------- */
/* --- ABOUT --- */
/* ------------- */

.progress {
    margin-bottom: 2rem;
}

.progress-bar {
    background-color: var(--color-highlights);
    color: var(--color-bg);
    font-weight: 600;
    width: 0;
    animation: animate 2s linear forwards;
}

@keyframes animate {
    0%{
        width: 0;
    }
    100% {
        width: var(--width);
    }
}

/* ----------- */
/* --- JOB --- */
/* ----------- */

@media (max-width: 576px) {
    #job li {
        word-break: break-all;
    }
}

/* ----------------- */
/* --- PORTFOLIO --- */
/* ----------------- */

.project {
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

.project a {
    display: block;
    height: 200px;
    height: 100%;
    padding: 30px 20px;
    overflow: hidden;
    position: relative;
}

.project#omybeer a {
    background: url(/public/assets/img/screenBeer2.png) no-repeat center;
    background-size: cover;
}

.project#trobot a {
    background: url(/public/assets/img/screenRobot.png) no-repeat center;
    background-size: cover;
}

.project#enstock a {
    background: url(/public/assets/img/screenStock.png) no-repeat center;
    background-size: cover;
}

.project a:hover,
.project a:hover .box-title,
.project a:active,
.project a:active .box-title {
    text-decoration: none;
    color: var(--color-bg);
}

.box-title {
    height: 50px;
    overflow: hidden;
    font-weight: bold;
    font-size: 25px;
    z-index: 2;
    position: relative;
}

.box-description {
    min-height: 80px;
    font-size: 18px;
    z-index: 2;
    position: relative;
}

.box-description p {
    font-size: 16px;
    margin-bottom: 0rem;
}

.box-description span {
    font-weight: bold;
    margin-bottom: 2rem;
}

.box-title,
.box-description {
    opacity: 0;
}

.project a:hover .box-title,
.project a:hover .box-description {
    opacity: 100;
    color: var(--color-bg);
}

.project a:hover .corner {
    transform: scale(10);
}

.corner {
    height: 128px;
    width: 128px;
    background-color: var(--color-highlights);
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all .5s ease;
}

@media only screen and (min-width: 1995px) {
    .project a {
        max-width: 542px;
    }
}

@media only screen and (max-width: 979px) {
    .project {
    flex-basis: calc(50% - 30px);
    }
    .box-title {
    font-size: 24px;
    }
}

/* @media only screen and (max-width: 767px) {
    .ag-format-container {
    width: 96%;
    }
} */


@media only screen and (max-width: 639px) {
    .project {
    flex-basis: 100%;
    }
    .box-title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px;
    }
    .project a {
        padding: 22px 40px;
    }
    .box-description {
        font-size: 16px;
    }
}


/* ----------------- */
/* ----- VIDEO ----- */
/* ----------------- */

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* rapport d'aspect de 16:9 */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
